h1 {
	text-align: center;
	text-shadow: 0px 0px 10px #ffa07a;
}

h6 {
	text-align: center;	
}

nav {
	background-color: #ffa07a;
	margin: 0px;
	padding: 0px;
	text-align: center;	
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

.navigator {
	padding: 0px;
} 

.navigator li {
	display: inline;
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.IndexNav {
	text-decoration: none;
	cursor: not-allowed;
	pointer-events: none;
	font-weight:bold;
}

.Iso-Mindi {
	width: 100%;
	height: auto;
	padding-bottom: 10px;
}

h2 {
	display: none;
}

h3 {
	text-align: center;
}

.koko-sivu {
	padding: 10px;
}

.karuselli {
	padding: 10px;
	margin: 12px;
	border: 1px solid #ff7f50;	
	box-shadow: 0px 0px 10px #ffa07a;
}

.karuselli_diat {
	text-shadow: 0px 0px 3px #ffa07a;
	background-color: #ffa07a;
	padding: 0px;
	box-shadow: 0px 0px 10px #ffa07a;
}

footer {
	background-color: #ffdab9
}

.Mindi {
	padding: 10px;
	margin: 12px;
	border-radius: 50%;
}

.footer-teksti {
	padding: 10px;
	margin: 12px;
}